Exemplo2_WSeRestFULL/WebContent/wsdl/Primeiro.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exemplos.fiap.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://exemplos.fiap.com.br" xmlns:intf="http://exemplos.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://exemplos.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ola">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="olaResponse">
    <complexType>
     <sequence>
      <element name="olaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="olaRequest">

      <wsdl:part element="impl:ola" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="olaResponse">

      <wsdl:part element="impl:olaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Primeiro">

      <wsdl:operation name="ola">

         <wsdl:input message="impl:olaRequest" name="olaRequest">

       </wsdl:input>

         <wsdl:output message="impl:olaResponse" name="olaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PrimeiroSoapBinding" type="impl:Primeiro">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ola">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="olaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="olaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PrimeiroService">

      <wsdl:port binding="impl:PrimeiroSoapBinding" name="Primeiro">

         <wsdlsoap:address location="http://localhost:8090/Exemplo2_WSeRestFULL/services/Primeiro"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
